@import "../scss/utils/vars.scss";
@import "../scss/utils/libs.scss";





/*******************************/
/********* General CSS *********/
/*******************************/

body {
    // color: #797979;
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
*{
    padding: 0;
    margin: 0;
}
h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: $primaryColor;
    font-weight: bold;
}
li{
    list-style: none;
}
a {
    color: #313131;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: $primaryColor;
    outline: none;
    text-decoration: none;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}
h2{
    color: $primaryColor;
}
.drink{
    width: 100%;
}
.btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: $primaryColor;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 50px $primaryColor;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.btn:hover {
    color: $primaryColor;
    background: transparent;
    box-shadow: inset 0 0 0 0 $primaryColor;
    border-color: $primaryColor;
}

.back-to-top {
    position: fixed;
    display: none;
    width: 44px;
    height: 44px;
    padding: 8px 0;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
}

.back-to-top:hover i {
    color: #414141;
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    margin-bottom: 45px;
}

.section-header p {
    display: inline-block;
    margin: 0 30px;
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ffffff;
}

.section-header p::before {
    position: absolute;
    content: "";
    height: 3px;
    top: 11px;
    right: 0;
    left: -30px;
    background: $primaryColor;
    z-index: -1;
}

.section-header p::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    top: 11px;
    left: 3px;
    background: $primaryColor;
    z-index: 1;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 45px;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}



@import "../scss/blocks/navbar.scss";
@import "../scss/blocks/hero.scss";
@import "../scss/blocks/about_product.scss";
@import "../scss/blocks/testimonials.scss";
@import "../scss/blocks/about_us.scss";
@import "../scss/blocks/form.scss";
@import "../scss/blocks/footer.scss";
@import "../scss/utils/media.scss";