// /*******************************/
// /******* Testimonial CSS *******/
// /*******************************/


.testimonial{
    background-attachment: fixed;
    background-image: url(../../img/tea2-2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 120px 0;
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(14,14,14,.7);
        top: 0;
        left: 0;
    }
    .section-header p{
        background-color: transparent;
        color: #fff;
    }
}
.testimonial-item{
    text-align: center;
}
.testimonial-img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    img{
        width: 100%;
    }
}
.testimonial-text{
    h3{
        color: #fff;
    }
    h4{
        color: $primaryColor;
    }
    p{
        color: #fff;
    }
}

@media (max-width: 992px) {
    .testimonial{
        background-attachment: initial;
    }
}
@media (max-width: 576px) {
    .testimonial{
        p::before, p::after{
            display: none;
        }
    }
}